/* Base de la paleta de colores */
:root {
  --main-dark-blue: #181c3a;
  --dark-blue: #232a50;
  --text-dark-blue: #2c3258;
}

.main-bg-color {
  background-color: var(--main-dark-blue);
}

.card-container {
  display: flex;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  max-width: 900px;
  width: 90%;
  padding: 0;
}

.left-panel {
  flex: 1;
  padding: 3rem;
  border-radius: 15px 0 0 15px;
}

.right-panel {
  flex: 1;
  background-color: rgb(218, 217, 217);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-label {
  font-weight: bold;
  color: var(--text-dark-blue);
}

.unit-label {
  color: var(--text-dark-blue);
  font-size: 1rem;
}

.btn-primary {
  background-color: #009fb0;
  border: none;
}

.result-container {
  color: var(--main-dark-blue);
}

.result-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.result-value {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
  margin: 1rem 0;
}

.result-details p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
